############################################
#
# Update this file with your customizations
#

# Domain suffix to be used to construct IAM groups
domain          = "example.com" 

# Name of Folder (3-30 characters)
#       123456789012345678901234567890 
folder          = "XXXXXXX-product-discovery"

# Get Folder ID of above folder
folder_id       = "NNNNNNNNNNNN" 

# Organization Number
org_id          = "NNNNNNNNNNNN" 

# Billing Account
billing_id      = "012345-678910-ABCDEF" 

# Location and Region
# location        = "EU"
# region          = "europe-west2"

# Project prefix
# prjpre          = "prj-xxxxxx"
# prjp            = "p"
# prjd            = "d"
# prjt            = "t"
# prjc            = "c"

# Principals for IAM roles
id1             = "user_1@email.com"
#id2             = "user_2@email.com"

# Principal Type: user or group
# type            = "user"
